[submodule "extern/godot-cpp"]
	path = extern/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "extern/quickjspp"]
	path = extern/quickjspp
	url = https://github.com/ftk/quickjspp.git
